{{> head}}


        {{> navbar}}


        <div class="row">
            <div class="col-8">
                <h1>Acerca de...</h1>
                <p> Cada vez que cambiamos algo de codigo tendríamos que salir de node (Ctrl+C) y volverlo a ejecutar otra vez $ node server.js , esto está claro que es un coñazo de aupa, pero para eso tenemos Nodemon que detecta los cambios en el código y reinicia automáticamente el servidor, de forma que solo tendremos que refrescar la pagina para ver los cambios.</p>
            </div>

             <div class="col-4">
                <img src="../assets/img/chucky.jpg" class="img-thumbnail">
            </div>

        </div>

{{> footer}}